.outline-tree {
  height: 100%;
  overflow: auto;
  .semi-tree-option-label:has(.is-hidden) {
    opacity: .6;
  }
  .semi-tree-option-label:has(.is-locked) {
    
  }
  .tree-label {
    padding-right: 8px;
    width: auto;
    &.is-hidden {
      opacity: .6;
    }
    &.is-locked {
      
    }
  }

}

img.outline-element-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}