.componentMultiSelectPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;

  .componentMultiSelectPanelTabs {
    display: flex;
    justify-content: space-between;

  }
  .tabPane {
    .imageIcon {
      width: 24px;
      height: 24px;
    }
  }

  :global(.semi-tabs-content) {
    padding: 0;
  }

  :global(.semi-tabs) {
    margin-bottom: 2px;
  }
}

.componentListWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.componentGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  overflow-y: auto;
  align-content: start;
}

.componentSelectItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  .checkBox {
    position: absolute;
    z-index: 111;
    right: 16px;
    top: 16px;
  }
  &:hover {
    background: var(--semi-color-fill-0);
  }
}

.emptyTip {
  grid-column: 1 / -1;
  text-align: center;
  padding: 20px 0;
  color: var(--semi-color-text-3);
}

.selectedFooter {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.selectedTags {
  display: flex;
  max-width: 480px;
  align-items: start;
  flex-direction: column;
  padding: 12px 24px;
  gap: 6px;
  flex-wrap: nowrap;
  overflow-x: auto;
  .libLabel {
    margin-bottom: 24px;
  }
  .libGroup {
    margin-bottom: 24px;
    .selectedList {
      margin-top: 12px;
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
    }
  }
}

.libLabel {
  margin-left: 4px;
}