.title-bar {
    display: flex;
    width: 100%;
    padding: 6px 12px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    .align-right {
        justify-self: self-end;
    }
    border-bottom: 1px solid var(--semi-color-border);
}