.title-bar {
    display: flex;
    width: 100%;
    padding: 6px 12px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    .align-right {
        justify-self: self-end;
    }
    img {
        width: 28px;
        height: 28px;
    }
    .semi-button {
        min-width: auto;
        padding: 4px 8px;
        &:hover {
            background-color: var(--semi-color-fill-0);
        }
    }
    border-bottom: 1px solid var(--semi-color-border);
}