.left-panel {
    display: flex;
    flex-direction: column;

    .panel-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--semi-color-border);
        padding: 2px 8px;
        height: 32px;
        align-items: center;
    }
}
