.file-actions {
  .app-name-exit {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .semi-breadcrumb-item svg {
    width: 16px;
    height: 16px;
  }
  i.bi {
    font-size: 16px;
    color: var(--semi-color-text-0);
    &.bi-plus-lg {
      font-size: 20px;
    }
  }

  .action-btn-appConfig {
    width: 38px;
    height: 24px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .align-right {
    gap: 5px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.file-tool-bar {
  display: flex;
  padding: 4px;
  padding-bottom: 0;
  font-size: 18px;
  .file-btns {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    gap: 6px;
    i.bi {
      font-size: 16px;
    }
  }
}

.tree-loading {
  height: calc(100% - 26px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app-files-dropdown {
  font-size: 14px;
  .bi {
    font-size: 16px;
  }
  svg {
    width: 1.2em;
    height: 1.2em;
  }
}
